@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


:root {
    background: linear-gradient(72.44deg, #432093 0%, #90DAFD 100%);
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 16px);
}
