.left-circle {
  border: 1px solid white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(-44%);
}

.right-circle {
  border: 1px solid white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transform: translate(44%);
  position: relative;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shoes-image {
  height: 450px;
  transform: translate(-40px);
  margin: 0 auto;
}

.main-section__text-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section__arrow-right {
  width: 50px;
  position: absolute;
  left: 30%;
  top: 40%;
}

.main-section__arrow-left {
  width: 50px;
  position: absolute;
  left: 30%;
  top: 40%;
  transform: rotate(180deg);
}

.main-heading {
  font-size: 76px;
  width: 700px;
  font-weight: 800;
  position: absolute;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  left: -5%;
}

.main-heading::before {
  position: absolute;
  content: "NIKE CRYPTOKICK";
  color: black;
  z-index: -1;
}
